{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="style" href="{% static "style\style.css"%}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AddingAdmission</title>
    <div>
    <h1>It is admission adding page of {{name}}</h1>
    {% for s in kiran1%}
    
    <h1>hello {{s}}</h1>

    {%endfor%}
    </div>
    <img src="{% static "images/1550420.jpg" %}" alt="image not found"/>

</head>
<body>
    
</body>
</html>







