<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teachers</title>

    {%for s in teacher_list %}
    <table>
    <tr>
        <td><a href="/admissions/DeleteTeacher/{{s.id}}">delete</td>
        <td>{{s.name}}</td>
        <td>{{s.subject}}</td>
        <td>{{s.exp}}</td>
        <td>{{s.contact}}</td>
        <td><a href="/admissions/updateteacher/{{s.id}}">update{{s.id}}</td>

        <td>
    
    
    </tr>
    </table>
        {%endfor%}


</head>
<body>
    
</body>
</html>